body{
	background-color: #eee;
	font-family: Arial, Helvetica, sans-serif;
}
header{
	border: 2px solid #aaa;
	background-color: #bbb;
}
main{
	border: 2px solid #aaa;
	background-color: #bbb;
}
footer{
	border: 2px solid #aaa;
	background-color: #bbb;
}